@import "tailwindcss";

body {
    background-color: #F5F5F5;
}

html, body {
    /* overflow: auto; */
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scroll-smooth {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('/fonts/NunitoSans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}
