@import "tailwindcss";

body{
    background-color: #F5F5F5;
}

/* Hide scrollbar but allow scrolling */
html, body {
    overflow: auto;
    -ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
    scrollbar-width: none; /* Hide scrollbar in Firefox */
  }
  
  /* Hide scrollbar in Chrome, Safari, and Opera */
  html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none;
  }
  

/* Hide scrollbar but keep scrolling */
.scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  /* Enable smooth scrolling */
  .scroll-smooth {
    scroll-behavior: smooth;
  }
  
  @font-face {
    font-family: 'Nunito Sans';
    src: url('/fonts/NunitoSans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }
  
  body {
    font-family: 'Nunito Sans', sans-serif;
  }
  
